body {
  padding: 0;
  margin: 0;
  background: #202225;
}

#home-view {
  width: 100vw;
}

/* home-view */
.home-view {
  height: 100vh;
  /* border: 1px solid red; */
  background: url();
}

#hero {
  width: 100%;
  height: 100vh;
  background: url(../img/home.png) top center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero:before {
  content: "";
  background: rgba(6, 12, 34, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 90px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
  margin-top: 20vh;
}

@media (max-width: 991px) {
  #hero .hero-container {
    top: 70px;
  }
}

#hero h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  width: 50vw;
  margin: auto;
  /* margin-top: 40vh; */
}

#hero h1 span {
  color: #7289da;
}

@media (max-width: 991px) {
  #hero h1 {
    font-size: 34px;
  }
}

#hero p {
  width: 40vw;
  margin: auto;
  color: #ebebeb;
  /* margin-top: -70vh; */
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 991px) {
  #hero p {
    font-size: 16px;
  }
}

#hero .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#7289da 50%, rgba(101, 111, 150, 0.15) 52%);
  border-radius: 50%;
  display: block;
  position: relative;
  overflow: hidden;
  /* margin-top: -70vh; */
}

#hero .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#hero .play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid rgba(163, 163, 163, 0.4);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

#hero .play-btn:hover::after {
  border-left: 15px solid #7289da;
  transform: scale(20);
}

#hero .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

#hero .about-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #7289da;
  text-decoration: none;
  margin-bottom: 20vh;
}

#hero .about-btn:hover {
  background: #7289da;
  color: #fff;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: rgba(59, 68, 77, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.video-container .close {
  position: absolute;
  top: 10%;
  right: 25px;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
}

.video-container iframe {
  width: 90%;
  max-width: 800px;
  height: 500px;
  transform: scale(0);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  outline: none;
  transition: all 0.3s;
}

.video-container.show {
  pointer-events: all;
  opacity: 1;
}

.video-container.show iframe {
  transform: scale(1);
}

/* sponsors */
#sponsors {
  width: 100vw;
  /* border: 1px solid red; */
  background-color: #36393f;
  margin: 0vh auto 10vh auto;
  padding-top: 10vh;
}
.sponsors {
  width: 80vw;
  height: 40vh;
  margin: auto;

  text-align: center;
  align-items: center;
  justify-content: center;
}
.sponsors > h1 {
  text-transform: uppercase;
  font-size: 42px;
  margin: 5vh;
  color: #ffffff;
}

.sponsors > div {
  display: flex;
  gap: 5%;
}

.single-sponsor {
  width: 25%;
  display: flex;
  gap: 5%;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  opacity: 0.4;
}

.single-sponsor img {
  width: 75px;
  height: 75px;
  border-radius: 50px;
  margin-left: 1%;
}

.single-sponsor h2 {
  font-size: 25px;
  color: #ffffff;
}

#exponent {
  margin-left: 25px;
}

#fiveMinuteCrafts:hover,
#chrisFix:hover,
#ycombinator:hover,
#exponent:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
}

.single-sponsor {
  transition: all 0.8s ease-in-out;
}

/* chapters */
.chapters {
  width: 70vw;
  height: 30vh;
  margin: 10vh auto;
  /* border: 1px solid red; */
  text-align: center;
  color: #ffffff;
}

.chapters h2 {
  font-size: 30px;
}

.chapters h1 {
  font-size: 50px;
}

.chapters p {
  font-size: 17px;
}

/* newsLetter */

/* #subscribe:before {
    content: "";
    background: rgba(6, 12, 34, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  } */

#subscribe {
  padding: 60px;
  background: url("../img/support.png") center center no-repeat;
  background-size: cover;
  /* border: 1px solid red; */
  margin: 10vh auto 0vh auto;
  overflow: hidden;
  position: relative;
}

@media (min-width: 1024px) {
  #subscribe {
    background-attachment: fixed;
  }
}

#subscribe .section-header h2,
#subscribe p {
  color: #fff;
  text-align: center;
}

.section-header > h2 {
  font-size: 30px;
}

.section-header > p {
  font-size: 17px;
}

#subscribe input {
  background: #fff;
  color: #060c22;
  border: 0;
  outline: none;
  margin: 0 0 0 30vw;
  padding: 9px 20px;
  border-radius: 50px;
  font-size: 14px;
}

@media (min-width: 767px) {
  #subscribe input {
    min-width: 400px;
  }
}

#subscribe button {
  border: 0;
  padding: 9px 25px;
  cursor: pointer;
  background: #7289da;
  color: #fff;
  transition: all 0.3s ease;
  /* outline: none; */
  font-size: 14px;
  border-radius: 50px;
  cursor: pointer;
}

#subscribe button:hover {
  background: transparent;
  border: 1px solid #7289da;
}

@media (max-width: 460px) {
  #subscribe button {
    margin-top: 10px;
  }
}
